div {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: aquamarine;
    /* transform: rotate(100deg); */
    /* transform: scale(1.5, 0.4); */
    /* transform: translate(100px); */
    /* transition: height 1s ease-in-out; */
    /* transition: 1s ease-in-out; */
    transition: 0.5s steps(22, end);
    border: 1px solid black;
}

div:hover{
    /* height: 300px;
    width: 300px; */
    /* transform: scale(1.5) translate(150px); */
    border-radius: 50px;
    transform: scale(0.65) translate(100px) rotate(360deg);
}